body{
    background: rgb(2, 39, 11);
}
#header{

width: 1100px;
height: 150px;
background: url(file:///D:/%E1%9E%98%E1%9F%81%E1%9E%9A%E1%9F%80%E1%9E%93%E1%9E%80%E1%9E%BC%E1%9E%8A/Visual%20studiocode%20work/Image/Army%20backimg.jpg);
text-align: left;
padding: 20px 10px;
box-sizing: border-box;
margin-left: auto;
margin-right: auto;
box-shadow: 0px 1px 10px ;
border-left: 1px solid rgb(136, 233, 123);
border-right: 1px solid rgb(136, 233, 123);
border-top: 1px solid rgb(136, 233, 123);
border-bottom: 1px solid rgb(136, 233, 123);

}

nav{
    border-top: 1px solid rgb(17, 4, 4);
    border-bottom: 1px solid rgb(17, 4, 4);
    border-left: 1px solid rgb(17, 4, 4);
    border-right: 1px solid rgb(17, 4, 4);    
    width: 1100px;
    text-align: center;
    border-radius: 10px;
height: 50px;
background:#04500b;
margin-left: auto;
margin-right: auto;
margin-top: 19px;
color: rgb(235, 220, 8)


}
ul{
    float: left;
    width: 1000px;
    letter-spacing: 1px;
}
li {
    float: left;
    margin-left: auto;
    margin-right: auto;
    width: 16.5%;
    height: Auto;
    margin-top: 1px;
    float: left;
    text-align: center;
    cursor: pointer;
    list-style: none;
    box-shadow: 0px 0px 0px ;
    text-align: center;
    border-radius: 100px;
    background: #033003;
    color: #0bcf1b;


}
#image {
    
    width: 1100px;
    height: Auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1px;
    box-shadow: #fce114;
    padding-top: -10px;
    border-top: 1px solid rgb(17, 4, 4);
    
   
    
    
    
}
#image div {
    width: 24.8%;
    height: auto;
    margin-top: 10px;
    float: right;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 10px;
    padding-top: -1px;
    padding-bottom: 15px;
    background:  #0e5312;
    border-collapse: 1px solid rgb(218, 233, 6);
    border-left: 1px solid rgb(17, 4, 4);
    border-right: 1px solid rgb(17, 4, 4);
    border-top: 1px solid rgb(17, 4, 4);
    border-bottom: 1px solid rgb(17, 4, 4);
    

    
}
img{
    width: 250px;
    height: 300px;
    padding-top: 1px;
    border-radius: 15px;
    margin-top: 10px;
    border-left: 1px solid rgb(136, 233, 123);
    border-right: 1px solid rgb(136, 233, 123);
    border-top: 1px solid rgb(136, 233, 123);
    border-bottom: 1px solid rgb(136, 233, 123);
    box-shadow: 0px 1px 10px ;
}
button{
    box-shadow: 1px 1px 1px ; 
    border-radius: 15px; 
    border-left: 1px solid rgb(1, 7, 0);
    border-right: 1px solid rgb(1, 7, 0);
    border-top: 1px solid rgb(1, 7, 0);
    border-bottom: 1px solid rgb(1, 7, 0);
    width: 100px;
    color: #0c7014;
    cursor: pointer;
    margin-top: -10px;

}

button{
    width: 60px;
    height: 40px;
    border-radius: 9px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 105px;
    margin-top: -20px;
    background: #032c0a;
   
}

button::before {
    content: "";
    background-image:conic-gradient(
        #088b13 -10deg,
        transparent 120deg
    ) ;
    width: 150%;
    height: 150%;
    position:absolute ;
    animation: rotate 2s linear infinite ;

}
button::after{
    content: " Watch ";
    text-align: center;
    width: 55px;
    height: 36px;
    background: #14380d;
    position: absolute;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0fb11d ;
    letter-spacing: px;
    box-shadow: inset 0px 0px 0px #0000008c;
}

@keyframes rotate {
    0%{
        transform: rotate(0deg);

    }
    100%{
        transform: rotate(-360deg);
    }
}
h2{
    border-radius: 10px; 
    color: #e3f0e4;
    height: 50px;
    box-shadow: 0px 0px 0px ; 
}
p{
    float: left;
    margin-top: -20px;
   padding-left:20px;
}
#videos{
    width: 1100px;
    height: Auto;
    margin-left: 15px;
    border-radius: 15px;
    float: left;

}
video{
    
    width: 260.5px;
    height: 150px;
    padding-top: 1px;
    border-radius: 15px;
    margin-top: 10px;
    border-left: 1px solid rgb(136, 233, 123);
    border-right: 1px solid rgb(136, 233, 123);
    border-top: 1px solid rgb(136, 233, 123);
    border-bottom: 1px solid rgb(136, 233, 123);
    box-shadow: 0px 1px 10px
}





























#style1{
    width: 1110px;
    height: 300px;
    box-shadow: 0px 0px 0px white;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 120px;
    margin-top: 20px;
}
#style1 div img {
    width: 95%;
    height: auto;
    margin-top: 10px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin: center;}

#style1::before {

}
style1::after{
    content: "  ";
    text-align: center;
    width: 1100px;
    height: 190px;
    background:url(file:///D:/%E1%9E%98%E1%9F%81%E1%9E%9A%E1%9F%80%E1%9E%93%E1%9E%80%E1%9E%BC%E1%9E%8A/Visual%20studiocode%20work/Image/Army%20backimg.jpg);
    position: absolute;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #eeede5 ;
    font-size:larger;
    letter-spacing: 1px;
    box-shadow: inset 20px 20px 20px #0000008c;
    
}

@keyframes rotate {
    0%{
        transform: rotate(0deg);

    }
    100%{
        transform: rotate(-360deg);
    }
}
#style2{
    border-top :4px yellow;
    width: 1110px;
    height: 300px;
    box-shadow: 0px 0px 0px white;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 120px;
    margin-top: -20px;
}
#style2 div img{
    width: 90%;
    height: auto;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    content: " cambodian ";
    color: ;
    
}


















#style3{
    width: 200px;
    height: 200px;
    box-shadow: 16px 14px 20px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 120px;
    margin-top: 20px;
    background: #0000008c;
}

#style3::before {
    content: "";
    background-image:conic-gradient(
        #ff0052 20deg,
        transparent 120deg
    ) ;
    width: 150%;
    height: 150%;
    position:absolute ;
    animation: rotate 2s linear infinite ;

}
#style3::after{
    content: " Cambodia ";
    text-align: center;
    width: 190px;
    height: 190px;
    background: #101010;
    position: absolute;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #eeede5 ;
    font-size:larger;
    letter-spacing: 1px;
    box-shadow: inset 20px 20px 20px #0000008c;
}

@keyframes rotate {
    0%{
        transform: rotate(0deg);

    }
    100%{
        transform: rotate(-360deg);
    }
}
